/silkit-qemu-demos-guest.qcow2
/out/
/.vs/
/.vscode/
/build/
/bin/
/lib/
/Downloads/
/_build/
*.build*
*.vector
*Default.venvironment*
*TestUnit.vtestunit*
*working-dir*
/*/build/
/*/_build/
/CMakeSettings.json
/build_wsl
qmp/demos/CANoe4SW_SE/testPingViaQmp.vtestunit/*
qmp/demos/CANoe/.run/*
/**/*.out
