/silkit-qemu-demos-guest.qcow2
/out/
/.vs/
/.vscode/
/build/
/bin/
/lib/
/Downloads/
/_build/
*.build*
*.vector
*.venvironment*
*.vtestunit*
*.run*
*working-dir*
/*/build/
/*/_build/
/CMakeSettings.json
/build_wsl
/**/*.out
